// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-return {
  margin-top: 7px;
}

.home-btn {
  margin-top: 40px;
}

.home .btn {
  margin-bottom: 10px;
}

.home-explanation {
  margin-top: 25px;
}

.footer {
  background-color: rgb(165, 165, 165);
  height: 100px;
}

.footer h4 {
  padding-top: 20px;
}

